# IDE-specific VS files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Build artifacts
/build/
/dist/
/out/
/target/

# Dependency directories
node_modules/

# dotenv environment variable files
.env

# Logs
logs
*.log

# Optional npm cache directory
.npm

# Temporary files
.DS_Store

# PostgreSQL database
*.sql   # Ignore database dumps

#Cache
.cache/

# Cache objects
packer_cache/

# Crash log
crash.log

# Exclude all .pkrvars.hcl files
*.pkrvars.hcl

# For built boxes
*.box

# Packer build artifacts
packer_cache/*
*.pkr.hcl
