[Unit]
Description=CSYE 6225 Cloud WebApp App 
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/home/Cloud/webapp
ExecStartPre=/bin/bash -c 'while [ ! -f "/home/Cloud/webapp/.env" ]; do sleep 5; echo ".env file not found. Waiting..."; done'
ExecStart=/usr/bin/node server/server.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target